<section class="card login">
	<form name="myform" ng-submit="login()" novalidate>

		<div class="textintro">
			<h1>Ola!</h1>
			<p>Entre para acessar o aplicativo</p>
			<p class="message" ng-show="message">{{ message }}</p>
		</div>

		<fieldset>
			<input type="email" name="email" placeholder="Email"
				ng-model="user.email" ng-required="true">
			<p class="error validationerror"
				ng-show="myform.email.$invalid && myform.email.$touched">Email é inválido!</p>


			<input type="password" name="password" placeholder="Senha"
				ng-model="user.password" ng-required="true">
			<p class="error validationerror"
				ng-show="myform.password.$invalid && myform.email.$touched">
				Senha é obrigatória</p>

		</fieldset>

		<button type="submit" class="btn" ng-disabled="myform.$invalid">Login</button>
		<p>
			ou <a ng-href="#/register">Registre-se</a>
		</p>
	</form>
</section>
